
  .container {
    width: 100%;
  }
  .columna {
    float: left;
    width: 50%;
  }
  .elemento {
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid blue;
  }
  .elemento2 {
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid red;
    height: 55px;
  }
  h1 {
    color: forestgreen;

  }
  h2 {
    color: #008080;
  }
  p {
    color: rgb(70, 130, 180);
  }
  